.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.25rem 1rem;
  margin: 0.85rem 0;

  font-size: 0.5rem;
  color: black;
  height: 60px;

  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.pinterest-logo {
  fill: #e60023;
}

.header-container__background {
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.226);
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.header-container a {
  text-decoration: none;
  margin: 0 0.4rem;
  color: inherit;
}

.header-container__link {
  padding: 0.1rem 1rem;
  border-radius: 35px;
  font-size: 0.45rem;
}

.header-container__link:hover:not(.header-container__link--active) {
  background-color: #a0a0a067;
}

.header-container__link--active {
  background-color: black;
  color: white;
}

.header-container__btn {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease-out;

  cursor: pointer;
}

.header-container__btn:hover {
  background-color: #a0a0a067;
}

.header-container__btn--mini {
  width: 32px;
  height: 32px;
}

.header-container__profile-picture {
  height: 36px;
  width: 36px;
  object-fit: contain;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container__profile-picture--active {
  border: 2px solid black;
  padding: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
