.pin-container {
  position: relative;
  max-width: 275px;
  margin: 1rem 0.25rem;
}

.pin {
  text-decoration: none;
  position: relative;
  height: auto;
}

.pin-image {
  border-radius: 25px;
  margin: 0.25rem;
  max-width: 275px;

  cursor: zoom-in;

  background-color: salmon;
}

.pin-image--hover {
  filter: brightness(0.6);
}

.pin-library {
  left: 15px;
  top: 28px;
  width: 40%;

  cursor: pointer;
}

.pin-save {
  right: 10px;
  top: 15px;

  padding: 0.75rem 1rem;
  background-color: #e60023;
  cursor: pointer;
  border-radius: 45px;
}

.pin-save:hover {
  background-color: #ad081b;
}

.pin-ctas__bottom {
  position: relative;
}

.pin-cta {
  color: white;

  font-size: 0.9rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
}

.pin-name {
  padding: 0 1rem;
  width: 225px;
  font-size: 0.9rem;
  position: absolute;
  cursor: pointer;
}

.pin-send {
  right: 22%;
  bottom: 20px;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0.3rem;

  cursor: pointer;
  background-color: #cfcfcf;
  border-radius: 45px;
}

.pin-more {
  right: 5%;
  bottom: 20px;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0.3rem;

  cursor: pointer;
  background-color: #cfcfcf;
  border-radius: 45px;
}

.pin-send:hover,
.pin-more:hover {
  filter: brightness(1.25);
}

.pin-suggested {
  position: relative;
}

.pin-library__dialog {
  background-color: white;
  padding: 1rem 0;
  border-radius: 25px;
  position: absolute;
  z-index: 10;
  top: -150px;
  left: -60px;
  width: 400px;
}

.pin-library__dialog__title {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

.pin-library__dialog__searchbar {
  display: flex;
  width: 90%;
  margin: auto;
  height: 95%;
  align-items: center;
  border-radius: 25px;
  padding: 0 1rem;
  z-index: 3;
  background-color: white;
  border: 2px solid rgb(233, 233, 233);
}

.pin-library__dialog__searchbar input {
  width: 100%;
  height: 100%;

  padding: 0.85rem 0.5rem;

  font-weight: lighter;
  font-size: 0.95rem;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.pin-library__dialog__sections {
  overflow-y: scroll;
  max-height: 300px;
  width: 100%;
  padding: 1rem;
}

.pin-library__dialog__searchbar:hover {
  border-color: black;
}

.pin-library__dialog__section__title {
  margin-top: 1rem;
  font-size: 0.75rem;
}

.pin-library__dialog__library {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  border-radius: 9px;
  cursor: pointer;
  margin: 0.125rem;
}

.pin-library__dialog__library h4 {
  flex: 1;
}

.pin-library__dialog__library:hover {
  background-color: #f0f0f0;
}

.pin-library__dialog__library img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  object-fit: contain;
  margin-right: 1rem;
}

.pin-library__dialog__create {
  display: flex;
  align-items: center;
  margin: 1rem 1rem 0rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.pin-library__dialog__create:hover {
  background-color: #f0f0f0;
}

.pin-library__dialog__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 15px;
}
