.pin-container {
  padding: 0;
  margin: 15px 10px;
  border-radius: var(--card-boder-radius);
  // background-color: red;
  // overflow: hidden;
}

.pin-container-small {
  grid-row-end: span var(--card-small);
}

.pin-container-medium {
  grid-row-end: span var(--card-medium);
}

.pin-container-large {
  grid-row-end: span var(--card-large);
}

.pin-container__body {
  position: relative;
  height: 100%;
}

.pin-container__media {
  text-decoration: none;
  position: relative;
  height: auto;
}

.pin-image {
  border-radius: 25px;
  // margin: 0.25rem;
  max-width: 275px;

  cursor: zoom-in;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  max-width: 275px;
}

.pin-image--hover {
  filter: brightness(0.6);
}

.pin-board {
  left: 15px;
  top: 28px;
  width: 40%;
  z-index: 10;

  cursor: pointer;
}

.pin-save {
  right: 10px;
  top: 15px;

  padding: 0.75rem 1rem;
  background-color: #e60023;
  cursor: pointer;
  border-radius: 45px;
}

.pin-save:hover {
  background-color: #ad081b;
}

.pin-ctas__bottom {
  position: relative;
}

.pin-cta {
  color: white;

  font-size: 0.9rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
}

.pin-name {
  padding: 0 1rem;
  width: 225px;
  font-size: 0.9rem;
  position: absolute;
  cursor: pointer;
}

.pin-send {
  right: 22%;
  bottom: 20px;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0.3rem;

  cursor: pointer;
  background-color: #cfcfcf;
  border-radius: 45px;
}

.pin-more {
  right: 5%;
  bottom: 20px;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0.3rem;

  cursor: pointer;
  background-color: #cfcfcf;
  border-radius: 45px;
}

.pin-send:hover,
.pin-more:hover {
  filter: brightness(1.25);
}

.pin-suggested {
  position: relative;
}
